:root{
    
--white-1: #EEEEEE;
--white-2: #d4d4d4;
--gray-1: #8d8d8d;
--gray-2: #333333;
--black-1: #1C1C1C;
--black-2: #000000;
--green-1: #0fc2c0;
--green-2: #023535;

--font-emphasis: 16px "Constantia";
--font-regular: 16px  "Lucida Sans";
--font-white: #ebebeb;
--font-black: #313133;
--font-green: #0fc2c0;
--font-gray: #8d8d8d;
}
  
body {
    background-image: linear-gradient(90deg,  var(--green-2) 20%, var(--black-2) 100%);
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
    font: var(--font-regular);
    color: var(--font-white);
    display: flex;
    justify-content: center;
    align-items: center;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}

  