
/* --------------------- Header ---------------------*/

.header, .header__links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  background-color: var(--black-1);
  height: 3.5em;
  justify-content: space-between;
  box-shadow: 1px 1px 4px var(--green-1);
  z-index: 1;

}

.header__links {
  gap: 2em;
}

.header__links a, .sidebar a {
  text-decoration: none;
  color: var(--font-white);
  transition: 0.4s;
  font-weight: bold;

}

.header__links a:hover, .sidebar a:hover  {
  color: var(--green-1);
}

:target {
  scroll-margin-top: 4em;
}

:target h1 {
  color: var(--font-green);
}

.header__logo_picture {
  width: 2.5em;
}

.header__btn_menu {
  background-color: transparent;
  border: none;
  color: var(--font-white);
  cursor: pointer;
  margin-top: 10px;
  display: none;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 100%;
  width: 35vw;
  animation-duration: 0.5s;
  background-color: var(--black-2);
  text-align: center;
  gap: 3%;
  left: -100vw;
  z-index: 10;
}

.side_bar__button:hover{
  transition: 0.4s;
  color: var(--green-1);
}


/* --------------------- Main ---------------------*/
.main {
  padding: 3.5em;
  max-width: 1100px;
  margin: auto;
}

.section {
  padding: 2em;
  margin: 2em auto;
  background-color: var(--black-1);
  border-radius: 10px;
  box-shadow: 0px 0px 4px var(--green-2);
}

.section p {
  text-align: justify;
}

.section_titles {
  font: bold var(--font-emphasis);
  font-size: 36px;
  font-variant: small-caps;
  color: var(--font-green);
  border-bottom: 1px solid var(--gray-1);
}

/* --------------------- Perfil ---------------------*/

.perfil {
  padding: 0;
  display: flex;
  align-items: center;
}

.perfil__picture {
  min-height: 100%;
  display: flex;
  padding: 5%;
  justify-content: center;
}

.perfil__picture img{
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  min-width: 40px;
  min-height: 40px;
  background-color: var(--green-1);
  border: 5px solid var(--green-1);
  box-shadow: 0px 0px 10px var(--green-1);
  border-radius: 50%;
}

.perfil__info {
  display: block;
  width: 50%;
  padding: 2%;
  box-sizing: border-box;
  margin: auto;
}

.perfil__name, .perfil__attributes {
  text-align: center;
}

.perfil__name {
  padding: 10px 0;
  font-size: 48px;
  font: bold var(--font-emphasis);
  font-size: 46px;
  color: var(--font-green);
  font-variant: small-caps;
}

.perfil__attributes {
  font-size: 14px;
  padding: 10px 0;
}

.perfil__contact_list {
  display: flex;
  justify-content: center;
  color: var(--font-gray);
  margin: 0 auto;
}

.perfil__contact_list ul{
  justify-content: center;
  list-style: none;
  padding: 0;
}

.perfil__contact_list a{
  color: var(--font-green);
  transition: 500ms;
}

.perfil__contact_list a:hover{
  background-color: var(--font-black);

}


@media screen and (max-width: 800px){

  .perfil {
    padding: 0;
    display: block;
  }
  
  .perfil__info {
      padding: 2%;
      width: 96%;
  }

}

/* --------------------- Hello ---------------------*/
.hello b {
  font-size: 30px;
  color: var(--font-green);
}

/* --------------------- Projects ---------------------*/
.projects__contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2em;
}

.project {
  border: 2px solid var(--black-1);
  border-radius: 10px;
  max-width: 200px;
  margin: 10px;
  background-color: var(--black-2);
  color: var(--font-white);
  text-decoration: none;

}

.project:hover {
  border: 2px solid var(--green-1);
  box-shadow: 0px 0px 15px var(--green-1);
}

.project__image img {
  border-radius: 10px 10px 0 0;
  width: 200px;
  height: 200px;
}

.project__info {
  position: relative;
  padding: 1em;
  text-align: center;

}

.project__title {
  padding-bottom: 5px;
  font: var(--font-emphasis);
  font-size: 24px;
}

.project__subtitle {
  padding-bottom: 10px;
  color: var(--font-gray);
  font-size: 12px;
}

.project__technologies {
  padding: 0 5px;
  display: flex;
  justify-content: space-evenly;
}

.project__technologies img {
  width: 25px;
  height: 25px;
}

/* --------------------- Hard Skills ---------------------*/

.hard_skills_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hard_skills_item {
  border-radius: 10px;
  margin: 2% 6%;
  padding: 3%;
  text-align: center;
}

.hard_skills_icon{
  width: 100px;
  height: 100px;
}

.hard_skills_name {
  font: var(--font-emphasis);
  font-size: 20px;
}

.hard_skills_level {
  color: var(--font-gray);
}
/* --------------------- Courses ---------------------*/
.courses ul{
  list-style: none;
  margin: 0;
}

.courses ul li {
  padding: 2em;
  border-bottom: 1px solid var(--gray-1);
  display: flex;
}

.courses b {
  color: var(--font-green);
}

.courses a {
  color: var(--font-gray);
}

.course__img {
  margin: auto;
  padding-right: 2em;
}

.course__head {
  display: flex;
  justify-content: space-between;

}

.course__svg {
  width: 100px;
  height: 100px;
}

.course__svg_certificate {
  width: 40px;
  height: 40px;
}

.course__title {
  font: bold var(--font-emphasis);
  font-variant: small-caps;
  font-size: 24px;
  color: var(--font-green);
  padding-bottom: 0.2em;
}

.course__institution {
  color: var(--font-gray);
  font: var(--font-regular);
  font-size: 16px;
}

/* --------------------- Footer ---------------------*/

.footer {
  background-color: var(--black-1);
  position: fixed;
  bottom: 0px;
  left: 0;
  height: 3em;
  width: 100%;
  padding: 0 2%;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px var(--green-1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;

  
}

.footer__framework_icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 30%;
  margin: 2% 0;
}

.footer__framework_icons img {
  width: 1.1em;
}

@media screen and (max-width: 780px){
  .main {
    padding: 2em;

  }
  .header__btn_menu {
    display: block;
  }

  .header__links {
    display: none;
  }

  .section {
    padding: 0.5em;

  }

  .section_titles {
    font-size: 26px;
    text-align: center;

  }

  .hello p {
    padding: 1em;
  }

  .courses ul li {
    padding: 2em 1em;
    display: block;
    
  }

  .course__img {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    padding-right: 0;
  }

  .course__head {
    display: block;
    
  }

}

@keyframes show_side_bar {
  from {left: -100vw;}
  to {left: 0vw;}
  
}

@keyframes close_side_bar {
  from {left: -0vw;}
  to {left: -100vw;}
  
}

